/* -----------------------------------------------------
 * EPIS Modül Görselliği
 * ----------------------------------------------------- */
#custom-epis {
    padding: 0 12px;
    margin: 8px 15px 8px 0px; /* Batarya ve Ağ ikonlarıyla aynı hiza */
    border-radius: 15px; /* Senin genel tema yuvarlaklığına uygun */
    font-weight: bold;
    color: #ffffff;
    opacity: 0.9;
}

#custom-epis.logical {
    background-color: #1e66f5; /* İş/Mantık Modu - Soğuk Mavi */
}

#custom-epis.emotional {
    background-color: #dd7878; /* Duygu Modu - Sıcak Pembe/Kırmızı */
}